
@font-face {
    font-family: 'LeagueSpartanVariable';
    src: url(fonts/LeagueSpartanVariable.woff2) format('truetype'); 
    font-weight: 200 900;
}

@font-face {
    font-family: 'BandeinsSansVariableGX';
    src: url('fonts/BandeinsSansVariableGX.ttf') format('truetype');
    font-weight: 200 900;

}

a { 
    color:rgb(2, 138, 138);}

a:link {
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
    color:rgb(2, 138, 138); }    


.entireresume {
  padding: 0 2rem 0 2rem;
}
  
div.footer{
  border-top: .01rem solid #E7E5E5;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 auto;
  max-width: 23rem;
  padding: 1rem;
  text-align: center;

}

div.skills {
      width: 20rem;
  }
  
div.left_resume{
      margin:0 auto;
  
  }
  
div.left_skills{
      float: left;
  }
  
div.right_skills{
      float: right;
  }
  
div.resume_para{
      line-height: 1.3;
      margin: 0 auto;
      text-align: center;
  }
  
div.right {
      padding: 0 ;
      margin: 0 auto;
  }
  
div.resume_bottom {
      margin:0 auto;
  
  }

header{
    color: teal;
    text-align: center;
    font-family: 'LeagueSpartanVariable';
    font-weight: 600;
    font-size: 3.4rem; 
    padding: 0;
}

div.resume_head {
  background-color:white;
  font-size: 1.5rem;
  max-width: 25rem;
  margin: 0 auto;
  padding: 0rem 1rem;
  text-align: center;
}

html {
    font-family: 'LeagueSpartanVariable';
    box-sizing: border-box;
}



h3.activities, h3.gardendate, h3.drexeldate, h2.courses,h3.experience  {
    color:rgb(2, 138, 138);
}


p {
    font-family: 'BandeinsSansVariableGX';

}




/*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*/


ul#menu{
    font-family: 'BandeinsSansVariableGX', 'Times New Roman';
    font-size: 1.4rem;
    font-weight: 700;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: .1rem;
    margin: 0 auto;
 }   
 
 ul#menu {
     border-bottom: .01rem solid #E7E5E5;
     color: black;
     display: block;
     line-height: 2;
     max-width: 25rem;
     padding: 0 0 1.4rem;

    
 }
 

/*This is for the menu! This is for the menu! This is for the menu!*/

*,
 *::before,
 *::after {
   box-sizing: border-box;
 }

#menuToggle
{
  display: block;
  position: relative;
  top: 25px;
  left: 0;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: teal;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #363636;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #f7f7f7;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-110%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

nav {
  width: 0;
  height: 0;
}


/* Hide header nav bar on mobile */
header {
  display: none;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: ; */
  border-bottom: .001rem solid #c2c2c2;
}

header li {
  float: right;
  font-size: 1.5rem;
}

header li a {
  display: block;
  color: #232323;
  text-align: center;
  padding: 16px;
  text-decoration: none;

}

header li a:hover {
  color: white;
  background-color: teal;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.5s ease;
}

header .current {
  color:white;
  background-color: teal;
  cursor: default;
}

.headerleft{
  float: left;
  font-size: 2rem;
}

.centerheader{
  display: block;
  padding: 16px;
}


  /* Edit the screen for responsive design*/
  @media screen and (min-width: 768px) {

    .left_resume{
        float: left;
        width: 50%;
    }

    .right {
      margin: 3em;
      padding: 2em;
      float: left;
      width: 49%;

    }

    .resume_para{
        margin: 0 auto;
        width: 40rem;
        font-size: 1rem;
    }
    
    .resume_bottom {
        padding: 2rem 1rem;
        margin: 0 auto;
        max-width: 97%;
    }


    
  }
  @media screen and (min-width: 1024px) {


    .left_resume{
        float: left;
        width: 50%;
    }

    .right {
      margin: 3em;
      padding: 2em;
      float: left;
      width: 50%;

    }

    .resume_para{
        margin: 0 auto;
        width: 50rem;
        font-size: 1.2rem;
    }
    
    .resume_bottom {
        padding: 3rem 1rem;
        margin: 0 auto;
        max-width: 99%;
    }

  }

  @media screen and (min-width: 40em) {
    nav {
      display: none;
    }
    header {
      display: block;
    }

    .centerheader{
      display: none;
    }
  }
 
  /* SWAP NAV MENUS 800px a.k.a 50em */
 
   
  @media screen and (min-width: 50em) {
     nav {
         display: none;
       }
       header {
         display: block;
       }

       .centerheader{
        display: none;
      }
     }
 
 
      /* SWAP NAV MENUS 1200px a.k.a 75em */
 
   @media screen and (min-width: 75em) {
     #wrapper {
          width: 1200px;
          margin: 0 auto;
        }
      }