

 div.button__clickinsta, div.button__clickmail,div.button__clicklinkedin {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 4px 3.5px 7px 2px #E7E5E5;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
  
  }

  div.contactinfo {
    /* display: grid;    
    grid-template-columns: auto ; */
    padding: 10px;
    width: 25rem;
    margin: 0 auto;
    }

  
 
  div.contactinfo__header{
    background-color:white;
    font-size: 1.5rem;
    max-width: 25rem;
    margin: 0 auto;
    padding: 0rem 1rem;
    text-align: center;
  
  }   


  div.contactinfo__contact {
      font-size: .93rem;
      font-weight: 300 ;
      padding: 0 .75rem 2rem;
      width: 23rem;
      margin: 0 auto;
      
  }
 
 div.zands__img {
    padding: 0 .5rem;
    max-width: 30rem;
    margin: 0 auto 1rem;
    text-align: center;
  } /* Image of shan shan and zarin div*/ 

  .zarin {
      width: 20rem;
      text-align: center;
  } /* Image tag of shan shan and zarin*/ 



  /* Edit the screen for responsive design*/
@media screen and (min-width: 768px) {

    div.contactinfo {
        padding: 10px;
        width: 40rem;
        margin: 0 auto;
        }

    div.zands__img {
        padding: 0 .5rem;
        max-width: 40rem;
        margin: 0 auto 1rem;
        text-align: center;
        }

    .zarin {
        width: 30rem;
        text-align: center;
    }


 div.button__clickinsta, div.button__clickmail,div.button__clicklinkedin {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 4px 3.5px 7px 2px #E7E5E5;
    font-size: 1.3rem;
    font-weight: 500;
    width: 18rem;
    margin: .05rem auto;
    text-align: center;
  }

}

  @media screen and (min-width: 1024px) {
   /*FIGURE OUT HOW TO FIX THIS */

   div.contactinfo {
    display: grid;    
    grid-template-columns: auto auto;
    justify-content: center;
    text-align: center;
    width: 60rem;
    padding-top: 3rem;

    }

    div.contactinfo__contact {
      font-size: .93rem;
      font-weight: 300 ;
      padding: 2rem;
      width: 30rem;
      margin: 0 auto;
      
  }

  div.zands__img {
    padding: 0 .5rem;
    max-width: 50rem;
    margin: 0 auto 1rem;
    text-align: center;
    }

    .zarin {
        width: 35rem;
        text-align: center;
    }


 div.button__clickinsta, div.button__clickmail,div.button__clicklinkedin {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 4px 3.5px 7px 2px #E7E5E5;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1rem;
    width: 21rem;
    margin: .5rem auto;
    text-align: center;

}



  }

 